<h1><%= appName %></h1>

<h3>Seja bem-vindo</h3>

<h5>Data: <%= dataBR(Date.today) %></h5>

<%= render "menu" %>

<p>Meu nome é: <strong><%= @meu_nome %></strong></p>
<p>Meu curso é: <strong><%= @meu_curso %></strong></p>
